@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-darkest: rgb(23 36 93);
  --color-primary-darker: rgb(38 59 155);
  --color-primary-dark: rgb(38 59 155);
  --color-primary-base: rgb(46 71 186);
  --color-primary-light: rgb(116 132 209);
  --color-primary-lighter: rgb(150 163 220);
  --color-primary-lightest: rgb(185 194 232);
  --color-primary-bright: rgb(213 218 241);

  --color-success-darkest: rgb(1 153 57);
  --color-success-darker: rgb(20 173 77);
  --color-success-dark: rgb(59 186 106);
  --color-success-base: rgb(99 200 136);
  --color-success-light: rgb(145 221 173);
  --color-success-lighter: rgb(193 244 212);
  --color-success-lightest: rgb(225 250 234);
  --color-success-bright: rgb(235 251 241);

  --color-info-darkest: rgb(66 114 221);
  --color-info-darker: rgb(108 146 228);
  --color-info-dark: rgb(148 176 236);
  --color-info-base: rgb(184 202 242);
  --color-info-light: rgb(214 224 247);
  --color-info-lighter: rgb(224 233 244);
  --color-info-lightest: rgb(245 248 253);
  --color-info-bright: rgb(253 253 255);

  --color-warning-darkest: rgb(236 152 12);
  --color-warning-darker: rgb(255 171 31);
  --color-warning-dark: rgb(255 185 69);
  --color-warning-base: rgb(255 213 143);
  --color-warning-light: rgb(255 213 143);
  --color-warning-lighter: rgb(255 233 186);
  --color-warning-lightest: rgb(255 241 218);
  --color-warning-bright: rgb(255 246 231);

  --color-danger-darkest: rgb(225 33 33);
  --color-danger-darker: rgb(245 53 53);
  --color-danger-dark: rgb(247 86 86);
  --color-danger-base: rgb(255 127 127);
  --color-danger-light: rgb(250 164 164);
  --color-danger-lighter: rgb(255 201 201);
  --color-danger-lightest: rgb(255 227 227);
  --color-danger-bright: rgb(254 235 235);

  --color-text-primary: rgb(32 53 81);
  --color-text-secondary: rgb(108 126 149);
  --color-text-disable: rgb(191 206 224);
  --color-text-white: rgb(255 255 255);

  --color-stroke-primary: var(--light-blue-300);
  --color-stroke-secondary: var(--neutral-300);
  --color-stroke-tertiary: var(--neutral-400);
  --color-stroke-black: var(--neutral-500);
  --color-stroke-white: var(--neutral-0);

  --color-bg-primary: var(--neutral-100);
  --color-bg-secondary: var(--neutral-200);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
